
@{
    ViewBag.Title = "Result";
}

<h2>Результат</h2>

@if (ViewBag.Result != null)
{
    <div>
        
        @{Html.RenderPartial("AprioriResultPartial", ViewData.FirstOrDefault(x => x.Key == "Result").Value);}
    </div> 
}

